<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrokeList Listing</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <div>
      <div class='name-price'>
        <div>
        <h1 class="listing-header"><%= listing.title %></h1>
          <img src="<%= listing.location %>">
        </div>
        <h2>$<%= ((listing.price_in_cents)/100).toFixed(2) %></h2>
        <form method="POST" action="/new-favourite">
          <button class="favourites-buttons" type="submit" name="YASS_PLEEZ" value="<%= listing.listing_id %>"><img src="../media/heart.png"></button>
        </form>
        </div>
    </div>

    <div class="name-price">
      <h4>
        DESCRIPTION
      </h4>
      <p>
        <%= listing.description %>
      </p>
    </div>

    <div class="message-block">
      <form method="POST" action="/listing/<%= listing.listing_id %>" name="email_seller">
        <h4>
          Interested? Enter a message to the seller below to get started.
        </h4>
        <br>
        <div>
          <input class="buyer-message" type='text' name="inquiry" placeholder="Enter your message to the seller.">
          <br>
          <button class= "submit-button" type="submit" position="center" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>


