<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrokeList Listing</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <div>
      <div class='name-price'>
        <h1><%= listing.title %></h1>
        <h2 id='price'><%= ((listing.price_in_cents) / 100).toFixed(2) %></h2>
      </div>
      <img src="<%= listing.location %>">
    </div>

    <div>
      <h4>
        DESCRIPTION
      </h4>
      <p>
        <%= listing.description %>
      </p>
    </div>

    <div>
      <form method="POST" name="email_seller">
        <label>
          Interested? Email the seller below...
        </label>
        <div>
          <input type='text' name="inquiry" placeholder="Enter your message to the seller.">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>


