<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <script src="https://kit.fontawesome.com/56203c3f8c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="header">
      <%- include('partials/header') %>
    </div>
  <div class ="cell">
    <form method="GET" action="/filtered" name="values">
      <label>$</label>
      <input type="text" name="min" placeholder="Minimum Price">
      <label>$</label>
      <input type="text" name="max" placeholder="Maximum Price">
      <button class="main-listing-buttons" type="submit">Filter</button>
    </form>
    <form class="buttons" method="GET" action="/favourites">
      Favourites:  <button type="submit" class="favourites-buttons"><img src="../media/heart.png"></button>
    </form>
  </div>

    <!-- <h1>
      New Listings
    </h1>
    featured order
    <div class="product">
      <a href="/listing/1">
        <img src="to fill out later" alt="./BrokeList/public/media/default.jpg">
      </a>
      <div>
        <h4>title</h4>
        <form method="POST" action="/listing/:listing_id">
          <button type="submit">view</button>
        </form>
      </div>
      <div>
        <h4>price</h4>
        <form method="POST" action="/listing/favourite">
          <button type="submit">favourite</button>
        </form>
      </div>
    </div> -->
    <!-- replace br with css styling -->
    <br>
    <br>
    <!-- other listings orders -->
    <div class="main">

      <% for (listing of listings) { %>
        <div class="cell" name="<%= listing.listing_id %>">
          <div class="image-title">
            <a href="/listing/<%= listing.listing_id %>">
              <img class="display-image" src="<%= listing.location %>" alt="media/default.jpg">
            </a>
            <div>
              <h3><%= listing.title %></h3>
              <p>$<%= ((listing.price_in_cents)/100).toFixed(2) %></p>
            </div>
          </div>
          <div class="buttons">
            <form method="GET" action="/listing/<%= listing.listing_id %>">
              <button class="main-listing-buttons" type = "submit">View listing</button>
            </form>
            <form method="POST" action="/new-favourite">
              <button class="favourites-buttons" type="submit" name="YASS_PLEEZ" value="<%= listing.listing_id %>"><img src="../media/heart.png"></button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
  </body>
</html>
