<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="header">
      <%- include('partials/header') %>
    </div>
  <div>
    <form method="GET" action="/filtered" name="values">
      <input type="text" name="min">
      <input type="text" name="max">
      <button type="submit">filter</button>
    </form>
    <form method="GET" action="/favourites">
      <button type="submit">Favourites</button>

    </form>
  </div>

    <!-- <h1>
      New Listings
    </h1>
    featured order
    <div class="product">
      <a href="/listing/1">
        <img src="to fill out later" alt="./BrokeList/public/media/default.jpg">
      </a>
      <div>
        <h4>title</h4>
        <form method="POST" action="/listing/:listing_id">
          <button type="submit">view</button>

        </form>
      </div>
      <div>
        <h4>price</h4>
        <form method="POST" action="/listing/favourite">
          <button type="submit">favourite</button>
        </form>
      </div>
    </div> -->
    <!-- replace br with css styling -->
    <br>
    <br>
    <!-- other listings orders -->
    <% for (listing of listings) { %>
      <div class="cell" name="<%= listing.id %>">
        <div class="image-title">
          <a href="/listing/<%= listing.id %>">
            <img src="<%= listing.location %>" alt="media/default.jpg">
          </a>
          <div>
            <h3><%= listing.title %></h3>
            <p>$<%= ((listing.price_in_cents)/100).toFixed(2) %></p>
          </div>
        </div>
        <div class="buttons">
          <a href="/listing/<%= listing.id %>">view listing</a>
          <form method="POST" action="/listing/favourite">
            <button type="submit">favourite</button>
          </form>
        </div>
      </div>
      <% } %>
  </body>
</html>
