<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Message</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <div class="messages">
      <h1> Recieved Messages </h1>
      <% for (message of messages) { %>
        <% if (message.seller_id === Number(cookies.id)) { %>

          <div class="cell">
            <!-- add listing_id && title -->
              <b>Listing title: <a href="/listing/<%= message.listing_id %>"> <%= message.title %> </a></b>
            <div class="phone-email">
              <b>
                Buyer's email:
                <div class="email-to">
                  <p><%= buyer.email %></p>
                  <button class="main-listing-buttons" onclick="location.href='mailto:<%= buyer.email %>?subject=Listing: <%= message.title %> &body=Hi! Thanks for your message about my listing.';" name="email">Email</button>
                </div>
              </b>
              <b>
                Buyer's phone number: <p><%= buyer.phone %></p>
              </b>
            </div>
            <b>
              Messsage: <%= message.message %>
            </b>
          </div>
        <% } %>
      <% } %>
      <h1> Sent Messages </h1>
      <% for (message of messages) { %>
        <% if (message.buyer_id === Number(cookies.id)) { %>
          <div class="cell">
            <b>
              Listing title: <a href="/listing/<%= message.listing_id %>"> <%= message.title %> </a>
            </b>
            <div>
              <b>
                Sent message: <%= message.message %>
              </b>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
