<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>

    <h1>Active listings</h1>

    <% for (listing of listings) { %>
      <% if (!listing.is_sold) { %>

        <div class = "listings">

          <div>
            <a href="/listing/<%= listing.listing_id %>">
              <img src="<%= listing.location %>" alt="media/default.jpg">
              <%= listing.title %>
            </a>
          </div>

          <div>
            <form method="POST" action="my-listings/<%= listing.listing_id %>/sold">
              <button type="submit" name="sold">Sold</button>
            </form>
            <form method="POST" action="my-listings/<%= listing.listing_id %>/delete">
              <button type="submit" name="delete-listing-id" value="<%= listing.listing_id %>">Delete</button>
            </form>
          </div>

        </div>

      <% }%>
    <% } %>

    <h1>Sold listings</h1>

      <% for (listing of listings) { %>
        <% if (listing.is_sold) { %>

          <div class = "listings">
            <a href="/listing/<%= listing.id %>">
              <img src="<%= listing.location %>" alt="media/default.jpg">
              <%= listing.title %>
            </a>
            <!-- listing/listing_id/delete -->
            <form method="POST" action="my-listings/<%= listing.id %>/delete">
              <button type="submit" name="delete-listing-id" value="<%= listing.id %>">Delete</button>
            </form>
          </div>

        <% } %>
      <% } %>
  </body>
</html>
