<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>

    <h1 class="messages">My Active Listings:</h1>

    <% for (listing of listings) { %>
      <% if (!listing.is_sold && listing.user_id === Number(cookies.id)) { %>

        <div class = "cell">
          <div class="image-title">
            <a href="/listing/<%= listing.listing_id %>">
              <img class="display-image" src="<%= listing.location %>" alt="media/default.jpg">
              <%= listing.title %>
            </a>
          </div>
          <div class="buttons">
            <form method="POST" action="my-listings/<%= listing.listing_id %>/sold">
              <button class= main-listing-buttons type="submit" name="sold">Sold</button>
            </form>
            <form method="POST" action="my-listings/<%= listing.listing_id %>/delete">
              <button class= main-listing-buttons type="submit" name="delete-listing-id" value="<%= listing.listing_id %>">Delete</button>
            </form>
          </div>
        </div>

      <% }%>
    <% } %>

    <h1 class="messages">My Sold Listings:</h1>

      <% for (listing of listings) { %>
        <% if (listing.is_sold && listing.user_id === Number(cookies.id)) { %>

          <div class = "cell">
            <div class="image-title">

              <a href="/listing/<%= listing.id %>">
                <img class="display-image" src="<%= listing.location %>" alt="media/default.jpg">
                <%= listing.title %>
              </a>
            </div>
            <form method="POST" action="my-listings/<%= listing.listing_id %>/delete">
              <button class= main-listing-buttons type="submit" name="delete-listing-id" value="<%= listing.id %>">Delete</button>
            </form>
          </div>

        <% } %>
      <% } %>
      <% if (cookies.is_admin === 'true') { %>
        <h1 class="messages">Other Users Listings:</h1>
        <% for (listing of listings) { %>
          <% if (!listing.is_sold && listing.user_id !== Number(cookies.id)) { %>
            <div class = "cell">
              <div class="image-title">

                <a href="/listing/<%= listing.id %>">
                  <img class="display-image" src="<%= listing.location %>" alt="media/default.jpg">
                  <%= listing.title %>
                </a>
              </div>
              <form method="POST" action="my-listings/<%= listing.listing_id %>/delete">
                <button class= main-listing-buttons type="submit" name="delete-listing-id" value="<%= listing.id %>">Delete</button>
              </form>
            </div>

          <% } %>
        <% } %>
      <%  } %>
  </body>
</html>
